body {
  background-image: url("../images/mythologyBackground.jpg");
  background-size: auto;
}

.cards {
  opacity: 0.8;
}

.noMargin {
  margin:0;
}

#timeCard {
  margin: 0 auto;
  max-width: 300px;
}

.answer {
  cursor: pointer;
}
